.contact-bgImg-container{
    @include bcgImg(100vh,$img4);
    nav{

        height: 40vh;
    }
}
.contact{
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size:1.5rem ;
        gap: 2.5rem 2rem;
        align-items: center;
    }
    .text-secondary{
        color: $white-color;
    }
}
